<!doctype html>

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>ESRE Example</title>
</head>

<body>
    <div class="row bg-dark w-full">
        <div class="col bg-dark">
            <a href="/">
                <img src="/static/elasticTypeMark.png" width="118" height="40">
            </a>
        </div>
    </div>
    <div class="container w-80">
        <div class="row justify-content-center" style="margin: 30px;">
            <div class=" col-4">
                <p>検索</p>
                <form class="form-inline">
                    <input type="text" id="text" class="form-control" value="{{query}}">
                    <button type="button" class="btn btn-primary" id="btn">検索</button>
                </form>
            </div>
        </div>
        <div class="row" style="margin: 30px;">
                {% if content != "" %}
                {% for item in content %}
                {{ item }}
                {% endfor %}
                {% endif %}

        </div>
        <div class="row">
            <div class="col text-center" style="border:solid 2px">
                <p class="text-center">通常検索</p>
                <button type="button" class="btn btn-primary" id="bm25" style="margin: 5px;">OpenAIで要約</button>
                {% for item in all.bm25: %}
                <div style="border:solid 1px; margin: 10px">
                    <p>{{ item.title }}</p>
                    <p>{{ item.description }}</p>
                    <a href="{{ item.url }}">View Documents</a>
                </div>
                {% endfor %}
            </div>
            <br>
            <div class="col text-center" style="border:solid 2px">
                <p class="text-center">ベクトル検索</p>
                <button type="button" class="btn btn-primary" id="vector" style="margin: 5px;">OpenAIで要約</button>
                {% for item in all.vector: %}
                <div style="border:solid 1px; margin: 10px">
                    <p>{{ item.title }}</p>
                    <p>{{ item.description }}</p>
                    <a href="{{ item.url }}">View Documents</a>
                </div>
                {% endfor %}
            </div>
            <div class="col text-center" style="border:solid 2px">
                <p class="text-center">ハイブリッド検索</p>
                <button type="button" class="btn btn-primary" id="rrf" style="margin: 5px;">OpenAIで要約</button>
                {% for item in all.rrf: %}
                <div style="border:solid 1px; margin: 10px">
                    <p>{{ item.title }}</p>
                    <p>{{ item.description }}</p>
                    <a href="{{ item.url }}">View Documents</a>
                </div>
                {% endfor %}
            </div>
            <div class="col text-center" style="border:solid 2px">
                <p class="text-center">OpenAI検索</p>
                <button type="button" class="btn btn-primary" id="openai" style="margin: 5px;">OpenAIで検索</button>
                {% if all.openai_answer != "" %}
                <div style="border:solid 1px; margin: 10px">
                    <p id="openai_answer"">{{ all.openai_answer }}</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h1 class="text-xl font-bold mb-4">質問例</h1>
                <p></p>

                <a href="/api/search_results?var1=現在のガソリン価格は？"
                    class="text-lg text-dark-blue hover:text-blue-700">現在のガソリン価格は？</a><br>
                <a href="/api/search_results?var1=確定拠出年金制度への加入方法は？"
                    class="text-lg text-dark-blue hover:text-blue-700">確定拠出年金制度への加入方法は？</a><br>
                <a href="/api/search_results?var1=ハワイの山火事の状況は？"
                    class="text-lg text-dark-blue hover:text-blue-700">ハワイの山火事の状況は？</a>
            </div>
        </div>
    </div>
    <script>
        $('#btn').click(function () {
            console.log($('#text').val());
            let url = "/api/search_results?var1=" + $('#text').val()
            console.log(url)
            window.location.href = url;
        });

        $('#bm25').click(function () {
            console.log("要約");
            let url = "/api/completions?var1=" + $('#text').val() + "&var2=bm25&var3=" + $('#openai_answer').text()
            console.log(url)
            window.location.href = url;
        });

        $('#vector').click(function () {
            console.log("要約");
            let url = "/api/completions?var1=" + $('#text').val() + "&var2=vector&var3=" + $('#openai_answer').text()
            console.log(url)
            window.location.href = url;
        });

        $('#rrf').click(function () {
            console.log("要約");
            let url = "/api/completions?var1=" + $('#text').val() + "&var2=rrf&var3=" + $('#openai_answer').text()
            console.log(url)
            window.location.href = url;
        });

        $('#openai').click(function () {
            console.log("要約");
            let url = "/api/all_results?var1=" + $('#text').val() + "&var2=openai"
            console.log(url)
            window.location.href = url;
        });
    </script>
</body>

</html>